body{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}
main{
    margin:0;
    background-color: #131313;
}

header a{
    cursor: pointer;
    color: #fff;
}
header a:hover{
    color: #fff;
    text-decoration: none;
}

header .menu--icon{
    width: 18px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

header .menu--icon div{
    height: 2px;
    background-color: #fff;
}

#topMenu{
    display:flex;
    margin:0;
    position: fixed;
    
}
#topMenu li{
    color:#fff;
    text-decoration: none;
    display:block;
    padding:15px;
    cursor: pointer;
}
#topMenu li:first-child{
    margin-right: 1000px;
    
    
}

.section1{
    display:flex;
    height:100vh;
    background-image: url(./img/photo-1558383745-6274e5c505c5.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 4px 0px 1300px rgba(0, 0, 0, 0.39);
    
}
.centralize{
    margin-top: 8rem;
    margin-left: 10rem;
    text-align:left;
    color:#fff;
    height:auto;
}
.centralize h1, p{
    margin:0;
    font-size: 48px;
}
.centralize p{
    margin:0;
    font-size:26px;
}
.centralize .box-img{
    height:85px;
    width: 160px;
}

.section2{
    display:flex;
    width:auto;
    background-color: #fff;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.content-section2{
    padding:2rem;
}
.img-section{
    width:600px;
    height:400px;
    padding-right: 4rem;
}

.text-section{
    padding-top: 0;
    text-align: left;
    margin-top: 50px;
    font-size: 24px;
    color: #000;
    padding-right: 4rem;
    padding-bottom: 6rem;
    
}

.size-text{
    text-align:left;
    font-size: 18px;
    color: #000;
}

.section3{
    display:flex;
    width:auto;
    background-color: #000;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.content-section3{
    padding-top: 0;
    
}

.img-section3{

    width:500px;
    height:500px;
    padding-right: 4rem;
    padding-top: 3rem;
    
}

.text-section3{
    padding-left: 4rem;
    text-align: left;
    font-size: 24px;
    color: #fff;
    padding-right: 4rem;
    margin: 0 auto;
    
}

.size-text3{
    text-align:left;
    font-size: 18px;
    color: #fff;
    
}
.section4{
    
    text-align: center;
    background-color: #131313;
    height:100vh;

    
}
.text-section4{
    padding-left: 10rem;
    padding-right: 10rem;
    color: #fff;
    margin:0;
    padding-top: 4rem;
    padding-bottom:6rem;
}
.size-text4{
    color: #8C8C8C;
    font-size: 18px;
}
.video-section4{
    padding: 1rem;
}

.video-section4 td{
    display: inline-block;   
    padding: 2rem;
}



 footer .copyright{
     text-align:center;
     justify-content: center;
 }
